<div class="banner">
  <div class="banner-content">
    <h1>We deliver robotics solutions for the energy industries</h1>
      <p>Thirteen Robotics core business is to bring to market the technologies that are necessary for safer and more efficient exploration and maintenance operations.</p>
      <p><a href="mailto:info@13robotics.com" class="btn btn-primary btn-lg">Contact Us</a></p>
  </div>
</div>
