<div class="card">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2><%user.name  %></h2>
    <p><%  %></p>
  </div>
  <img class= src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>

