.banner {
  color: white;
  text-align: center;
  height:calc(50vh - 70px);
  background: url("../images/bg.png");
  background-size: cover !important;
  align-items: center;
  position: relative;

  /* if you have a 70px navbar => height: calc(100vh - 70px); */
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  align-items: center;
  position: absolute;
  padding: 20px 60px;
}

.jumbotron {
   background-image: url("bg.png");
}
