.wrapper {
  padding: 20px;
}


.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: #616668;
  position: relative;
  p {
  color: #616668;
  }
  h2 {
  color: #616668;
  font-size: 20px;
  }
}

img {
  width: 80%;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

