---
title: About Us
---

  <div class="jumbotron p-img">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-justify">
      <h3>We believe that all kind of industries can benefit from the introduction of automation, autonomy and robotics in their processes, but especially those in harsh environments</h3>
      <p>The aim of Thirteen Robotics is to bring to industry the technologies that provide the necessary safety and efficiency for exploration and maintenance operations. Currently, our action environment is diverse, ranging from hydroelectric power plants to oil tanks or offshore installations.</p>
      <p>Our philosophy is to use state-of-the-art methods in engineering research and transfer them to the industry in order to create innovative solutions to the major pressing problems in the industry. Currently, it has a team of 11 people, including 9 engineers, a designer and a project manager. It is a bootstrap company founded in 2016. Most of the funding so far has been obtained through the ANP / ANEEL R & D programs.</p>
      <p>Our team experience includes leading projects with significant impact in the industry such as Shell's AUF FlatFish. Before Brazil, the team had an international career, most recently at the German Center for Artificial Intelligence (DFKI). 13R is a DFKI spin-off company.</p>
      </div>
    </div>
  </div>
</div>
