<div class="jumbotron p-img">
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-justify">
      <h3>Research & development of robotic solutions</h3>
        <p>Brazil is a unique opportunity for the energy sector to develop such solutions through the ANEEL and ANP R&D funding programs. We are currently involved with three projects, EMMA (In-situ metalization of turbine blades in hydroelectric powerplants), ROSA (Instrumentation of Stoplogs in Hydroelectric Powerplants) and HEADS (Hydrocarbon Early Automatic Detection System) dealing with environments as diverse as hydroelectric powerplants, oil tanks or deep-sea installations.
        </p>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="col-xs-12 col-md-3 card-project">
        <img src="images/emma/emma-thumb.png" alt="picture description" width="100">
        <h2 class="card-title">ROSA</h2>
      </div>
      <div class="col-xs-12 col-md-3 card-project">
        <img src="images/heads/heads-thumb.png" alt="picture description" width="100">
        <h2 class="card-title">EMMA</h2>
      </div>
       <div class="col-xs-12 col-md-3 card-project">
        <img src="images/heads/heads-thumb.png" alt="picture description" width="100">
        <h2 class="card-title">HEADS</h2>
      </div>
      <div class="col-xs-12 col-md-3 card-projetc">
        <img src="images/heads/heads-thumb.png" alt="picture description" width="100">
        <h2 class="card-title">SQUIDBOT</h2>
      </div>
    </div>
  </div>
</div>



