<div class="container">

          <div class="row">

            <div class="col-md-3">
              <h2>PROJECTS</h2>
              <hr class="color">
              <ul class="side-nav" id = "side-menu">
                <a href="emma.html">
                <p>EMMA</p>
                </a> <a href="rosa.html">
                <p>ROSA</p>
                </a> <a href="heads.html">
                <p>HEADS</p>
                </a>
              </ul>
            </div>

            <div class="col-md-9 text-justify">
                <h2>Research & development of robotic solutions</h2>
                <hr>

                <p> Brazil is a unique opportunity for the energy sector to develop such solutions through the ANEEL and ANP R&D funding programs. We are currently involved with three projects, <strong>EMMA</strong> (In-situ metalization of turbine blades in hydroelectric powerplants), <strong>ROSA</strong> (Instrumentation of Stoplogs in Hydroelectric Powerplants) and <strong>HEADS</strong> (Hydrocarbon Early Automatic Detection System) dealing with environments as diverse as hydroelectric powerplants, oil tanks or deep-sea installations.</p>
                <br>
                <p><a href="index.html"><span class="glyphicon glyphicon-chevron-left"></span></a>Back to homepage</p>
                <br>
                <br>
            </div>
          </div>
</div>
